# Virtual Environment
venv/
env/
ENV/

# Design Files
Design Files/

# Papers
Papers/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Local configuration
.env
.venv
